/* Mobile */
.features-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}
.features-icon-container {
    display: none;
}
.features-list-subtitle {
    margin: 0 auto;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.11;
    font-size: 36px;
    margin-bottom: 8px;
    text-align: center;
}
.features-list-text {
    line-height: 1.5;
    font-weight: 500;   
}

/* Tablet */
@media screen and (min-width: 768px) {
    .features-list {
        column-gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .features-list-item {
        width: calc((100% - 24px) / 2);
    }
    .features-list-subtitle {
        text-align: start;
    }
}


/* Dekstop */
@media screen and (min-width: 1158px) {
    .features-list {
        column-gap: 24px;
        flex-direction: row;
    }   
    .features-list-item {
        width: calc((100% - 72px)/4);
    }
    .features-icon-container{
        background-color: #F4F4FD;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .features-list-subtitle {
        margin-top: 8px;
        font-weight: 500;
        line-height: 1.2;
        font-size: 20px;
    }
    .features-list-text {
        font-weight: 400;  
    }
}
