.burger-menu {
    /* display: none!important; */
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition-property: left, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.burger-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    left: 0;
}
.burger-menu-wrap {
    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
}

.burger-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
    font-size: 0;
    background-color: #E7E9FC;
    border: solid rgba(46, 47, 66, 0.4) 1px;
    cursor: pointer;
    line-height: 0;
    padding: 8px;
    border-radius: 24px;
    fill: #2E2F42;
    transition-property: border, background-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.burger-menu-close-btn:focus, .burger-menu-close-btn:hover {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: solid #404BBF 1px;
}
.burger-nav {
    flex-grow: 1;
}
.burger-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    /* margin-bottom: 168px; */
    color: #2E2F42;
}
.burger-active-link {
    color: #404BBF;
}
/* .burger-contacts {
    flex-grow: 1;
} */
.burger-contacts-list {
    margin-bottom: 48px;
}
.burger-contacts-item {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
}
.burger-contacts-item-active {
    color: #4D5AE5;
    margin-bottom: 24px;
}
.burger-social-list {
    justify-content: space-between;
}
@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}